<a href="https://colab.research.google.com/github/rinagobo/colab_notebooks/blob/main/Case1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Study: How Does a Bike-Share Navigate Speedy Success?

In [ ]:
%pip install --upgrade plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.15.0)
Collecting plotly
  Downloading plotly-5.16.1-py2.py3-none-any.whl (15.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.6/15.6 MB 32.6 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (23.1)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.15.0
    Uninstalling plotly-5.15.0:
      Successfully uninstalled plotly-5.15.0
Successfully installed plotly-5.16.1

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

**1. Explore each dataset before combining all as a whole year**

In [ ]:
df_08 = pd.read_csv("202208-divvy-tripdata.csv", quoting=3)
df_09 = pd.read_csv("202209-divvy-tripdata.csv", quoting=3)
df_10 = pd.read_csv("202210-divvy-tripdata.csv", quoting=3)
df_11 = pd.read_csv("202211-divvy-tripdata.csv", quoting=3)
df_12 = pd.read_csv("202212-divvy-tripdata.csv", quoting=3)
df_01 = pd.read_csv("202301-divvy-tripdata.csv", quoting=3)
df_02 = pd.read_csv("202302-divvy-tripdata.csv", quoting=3)
df_03 = pd.read_csv("202303-divvy-tripdata.csv", quoting=3)
df_04 = pd.read_csv("202304-divvy-tripdata.csv", quoting=3)
df_05 = pd.read_csv("202305-divvy-tripdata.csv", quoting=3)
df_06 = pd.read_csv("202306-divvy-tripdata.csv", quoting=3)
df_07 = pd.read_csv("202307-divvy-tripdata.csv", quoting=3)

In [ ]:
df_08.shape # (121915, 13)
df_09.shape # (119536, 13)
df_10.shape # (105378, 13)
df_11.shape # (111138, 13)
df_12.shape # (111145, 13)
df_01.shape # (123012, 13)
df_02.shape # (121986, 13)
df_03.shape # (111480, 13)
df_04.shape # (111924, 13)
df_05.shape # (101005, 13)
df_06.shape # (99281, 13)
df_07.shape # (92249, 13)

(119536, 13)

In [ ]:
df_08.columns
new_df_08 = df_08.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_08.shape

(51797, 5)

In [ ]:
new_09_columns = [col[1:-1] for col in df_09.columns]
df_09.columns = new_09_columns
df_09.columns

new_df_09 = df_09.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_09.shape

(56581, 5)

In [ ]:
new_10_columns = [col[1:-1] for col in df_10.columns]
df_10.columns = new_10_columns
df_10.columns

new_df_10 = df_10.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_10.shape

(45129, 5)

In [ ]:
new_11_columns = [col[1:-1] for col in df_11.columns]
df_11.columns = new_11_columns
df_11.columns

new_df_11 = df_11.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_11.shape

(56638, 5)

In [ ]:
new_12_columns = [col[1:-1] for col in df_12.columns]
df_12.columns = new_12_columns
df_12.columns

new_df_12 = df_12.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_12.shape

(76025, 5)

In [ ]:
new_01_columns = [col[1:-1] for col in df_01.columns]
df_01.columns = new_01_columns
df_01.columns

new_df_01 = df_01.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_01.shape

(70165, 5)

In [ ]:
new_02_columns = [col[1:-1] for col in df_02.columns]
df_02.columns = new_02_columns
df_02.columns

new_df_02 = df_02.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_02.shape

(75216, 5)

In [ ]:
new_03_columns = [col[1:-1] for col in df_03.columns]
df_03.columns = new_03_columns
df_03.columns

new_df_03 = df_03.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_03.shape

(61301, 5)

In [ ]:
new_04_columns = [col[1:-1] for col in df_04.columns]
df_04.columns = new_04_columns
df_04.columns

new_df_04 = df_04.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_04.shape

(49581, 5)

In [ ]:
new_05_columns = [col[1:-1] for col in df_05.columns]
df_05.columns = new_05_columns
df_05.columns

new_df_05 = df_05.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_05.shape

(40418, 5)

In [ ]:
new_06_columns = [col[1:-1] for col in df_06.columns]
df_06.columns = new_06_columns
df_06.columns

new_df_06 = df_06.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_06.shape

(41045, 5)

In [ ]:
new_07_columns = [col[1:-1] for col in df_07.columns]
df_07.columns = new_07_columns
df_07.columns

new_df_07 = df_07.drop(['start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis = 1, inplace = False)
new_df_07.shape

(38800, 5)

**2. Merging all the 12 months dataframes with only necessary columns**

In [ ]:
frames = [new_df_08, new_df_09, new_df_10, new_df_11, new_df_12, new_df_01, new_df_02, new_df_03, new_df_04, new_df_05, new_df_06, new_df_07]
past_12_months_df = pd.concat(frames)
past_12_months_df

,ride_id,rideable_type,started_at,ended_at,member_casual
0,550CF7EFEAE0C618,electric_bike,2022-08-07 21:34:15,2022-08-07 21:41:46,casual
1,DAD198F405F9C5F5,electric_bike,2022-08-08 14:39:21,2022-08-08 14:53:23,casual
2,E6F2BC47B65CB7FD,electric_bike,2022-08-08 15:29:50,2022-08-08 15:40:34,casual
3,F597830181C2E13C,electric_bike,2022-08-08 02:43:50,2022-08-08 02:58:53,casual
4,0CE689BB4E313E8D,electric_bike,2022-08-07 20:24:06,2022-08-07 20:29:58,casual
...,...,...,...,...,...
38795,"""84B128BDA6EBB768""","""electric_bike""","""2023-07-19 21:03:14""","""2023-07-19 21:20:07""","""member"""
38796,"""90516C49DDAC563E""","""classic_bike""","""2023-07-11 12:54:37""","""2023-07-11 12:59:43""","""casual"""
38797,"""50853DEDF35EA249""","""electric_bike""","""2023-07-27 08:15:20""","""2023-07-27 08:20:48""","""casual"""
38798,"""888E01EF6EBE85B6""","""classic_bike""","""2023-07-23 09:32:05""","""2023-07-23 09:50:11""","""member"""
38799,"""",NaN,NaN,NaN,NaN

In [ ]:
# past_12_months_df.isna().values.any() #True
cleaned_past_12_df = past_12_months_df.dropna()
cleaned_past_12_df.shape

(662685, 5)

In [ ]:
cleaned_past_12_df.ride_id = cleaned_past_12_df.ride_id.str.replace('"', '')
cleaned_past_12_df.ride_id
# len(cleaned_past_12_df.ride_id.unique()) # The id for all rows are unique

662685

In [ ]:
cleaned_past_12_df.rideable_type = cleaned_past_12_df.rideable_type.str.replace('"', '')
cleaned_past_12_df.rideable_type

<ipython-input-20-57fd9b76bd3f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_past_12_df.rideable_type = cleaned_past_12_df.rideable_type.str.replace('"', '')

0        electric_bike
1        electric_bike
2        electric_bike
3        electric_bike
4        electric_bike
             ...
38794    electric_bike
38795    electric_bike
38796     classic_bike
38797    electric_bike
38798     classic_bike
Name: rideable_type, Length: 662685, dtype: object

In [ ]:
cleaned_past_12_df.started_at = cleaned_past_12_df.started_at.str.replace('"', '')
cleaned_past_12_df.started_at

<ipython-input-21-be2ae6db6685>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_past_12_df.started_at = cleaned_past_12_df.started_at.str.replace('"', '')

0        2022-08-07 21:34:15
1        2022-08-08 14:39:21
2        2022-08-08 15:29:50
3        2022-08-08 02:43:50
4        2022-08-07 20:24:06
                ...
38794    2023-07-18 07:52:34
38795    2023-07-19 21:03:14
38796    2023-07-11 12:54:37
38797    2023-07-27 08:15:20
38798    2023-07-23 09:32:05
Name: started_at, Length: 662685, dtype: object

In [ ]:
cleaned_past_12_df.ended_at = cleaned_past_12_df.ended_at.str.replace('"', '')
cleaned_past_12_df.ended_at

<ipython-input-22-6195501de419>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_past_12_df.ended_at = cleaned_past_12_df.ended_at.str.replace('"', '')

0        2022-08-07 21:41:46
1        2022-08-08 14:53:23
2        2022-08-08 15:40:34
3        2022-08-08 02:58:53
4        2022-08-07 20:29:58
                ...
38794    2023-07-18 08:01:47
38795    2023-07-19 21:20:07
38796    2023-07-11 12:59:43
38797    2023-07-27 08:20:48
38798    2023-07-23 09:50:11
Name: ended_at, Length: 662685, dtype: object

In [ ]:
cleaned_past_12_df.member_casual = cleaned_past_12_df.member_casual.str.replace('"', '')
cleaned_past_12_df.member_casual

<ipython-input-23-530d986d836b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_past_12_df.member_casual = cleaned_past_12_df.member_casual.str.replace('"', '')

0        casual
1        casual
2        casual
3        casual
4        casual
          ...
38794    member
38795    member
38796    casual
38797    casual
38798    member
Name: member_casual, Length: 662685, dtype: object

**3. Explore cleaned_past_12_df**

In [ ]:
cleaned_past_12_df.ride_id.dtype # Object
cleaned_past_12_df.rideable_type.dtype # Object
cleaned_past_12_df.started_at.dtype # Object
cleaned_past_12_df.ended_at.dtype # Object
cleaned_past_12_df.member_casual.dtype# Object

dtype('O')

In [ ]:
# Change the data types of started_at and ended_at columns from object to datetime64[ns]
cleaned_past_12_df['started_at'] = pd.to_datetime(cleaned_past_12_df.started_at)
cleaned_past_12_df['ended_at'] = pd.to_datetime(cleaned_past_12_df.ended_at)

cleaned_past_12_df.started_at.dtype # datetime64[ns]
cleaned_past_12_df.ended_at.dtype # datetime64[ns]

dtype('<M8[ns]')

In [ ]:
# cleaned_past_12_df['ride_length'] = (cleaned_past_12_df.ended_at - cleaned_past_12_df.started_at) / pd.Timedelta(minutes=1)

# Check how many rows have 0 in 'ride_length' column
len(cleaned_past_12_df[(cleaned_past_12_df['ride_length'] == 0)]) #50

# Assume that 0 of 'ride_length' means that the users decided not to ride after they register to use
# Drop rows with 0 in 'ride_length' column
cleaned_past_12_df = cleaned_past_12_df[(cleaned_past_12_df['ride_length'] != 0)] #662635 rows (original: 662685 rows)

# Check how many rows have values less than 0 in 'ride_length' column
# len(cleaned_past_12_df[(cleaned_past_12_df['ride_length'] < 0)]) #8
cleaned_past_12_df[(cleaned_past_12_df['ride_length'] < 0)]

# It seems the negative values are caused by the reversed values of 'started_at' and 'ended_at'
# Modify the negative values to positive values
cleaned_past_12_df['ride_length'] = cleaned_past_12_df['ride_length'].apply(lambda x: -1 * x if x < 0 else x)

# Sort cleaned_past_12_df by 'ride_length' column
cleaned_past_12_df = cleaned_past_12_df.sort_values(by=['ride_length'])
# cleaned_past_12_df

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_length
17421,6A6427B4EF5C3EAE,electric_bike,2022-10-02 18:37:37,2022-10-02 18:37:38,member,0.02
7421,9CC9C2E2D68F6509,electric_bike,2023-05-31 23:23:27,2023-05-31 23:23:28,casual,0.02
32382,B0EA325C7E714F9A,classic_bike,2022-12-18 11:38:33,2022-12-18 11:38:34,member,0.02
17098,F59F262867976C7C,electric_bike,2022-08-03 11:10:25,2022-08-03 11:10:26,casual,0.02
29581,4E15060F4920A8D7,electric_bike,2022-11-21 19:21:07,2022-11-21 19:21:08,member,0.02
...,...,...,...,...,...,...
37634,F5F074FB092219CD,docked_bike,2022-12-02 21:41:11,2022-12-16 04:58:17,casual,"19,157.10"
10882,DFD2D8549F460DB5,docked_bike,2022-09-17 19:46:33,2022-10-01 18:51:47,casual,"20,105.23"
28812,C1C12A2351E93FC4,docked_bike,2022-09-17 10:19:23,2022-10-01 18:34:29,casual,"20,655.10"
13885,B554C12730AFA9C3,docked_bike,2023-05-14 14:33:37,2023-05-30 04:50:43,casual,"22,457.10"
6839,38A41BB0F2B8F37C,docked_bike,2023-05-05 21:53:14,2023-05-26 04:43:45,casual,"29,210.52"

<bound method Series.sort_values of 0       0 days 00:07:31
1       0 days 00:14:02
2       0 days 00:10:44
3       0 days 00:15:03
4       0 days 00:05:52
              ...
38794   0 days 00:09:13
38795   0 days 00:16:53
38796   0 days 00:05:06
38797   0 days 00:05:28
38798   0 days 00:18:06
Name: ride_length, Length: 662685, dtype: timedelta64[ns]>